@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8e44ad;
    color: #fff;
    font-family: 'Akshar', sans-serif;
}
.counter-content{
    text-align: center;
    margin: 20px 40px;
}

.counter{
    font-size: 60px;

}
@media(max-width:600px){
    body{
        flex-direction: column;
    }
}